---
import QwikVersionSelect from "@/components/qwik/version-select/version-select";
import { SearchModal } from "@/components/qwik/search-modal/search-modal";
import { ThemeToggle } from "@/components/qwik/theme/theme-toggle";
---

<div class="flex p-4 border-b dark:border-gray-700 justify-between sticky top-0 bg-white dark:bg-gray-950 z-50">
    <div><a href="/" class="dark:text-white">LOGO</a></div>
    <div class="flex gap-4 items-center">
        <ThemeToggle />
        <SearchModal />
        <QwikVersionSelect url={Astro.url.pathname} />
    </div>
</div>

<script is:inline>
  window.addEventListener('initPagefind', async () => {
    const pagefind = await import("/pagefind/pagefind.js");
    await pagefind.init();
    window.pagefind = pagefind;
  });

  document.querySelector('[data-id="search"]')?.addEventListener('input', async (e) => {
    // Preload indexes while user is typing
    window.pagefind.preload(e.target.value);
    
    // Use built-in debounced search
    const search = await window.pagefind.debouncedSearch(e.target.value);
    
    if (search === null) {
      // A more recent search call was made, ignore this one
      return;
    }

    // Load first 5 results with their data
    const results = await Promise.all(
      search.results.slice(0, 5).map(r => r.data())
    );
    
    window.dispatchEvent(new CustomEvent('searchResults', { detail: results }));
  });
</script>